.auth-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container {
  width: 100%;
  max-width: 420px;
  background: #fff;
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.12);
  margin-top: auto;
  margin-bottom: auto;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 700;
}
.auth-form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border: 1px solid #bbb;
  border-radius: 6px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #0066ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background: #004fcc;
}

.auth-link {
  text-align: center;
  margin-top: 10px;
}

.auth-link a {
  color: #0047b3;
  font-weight: 600;
}
